.App{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar{
  background-color:rgb(72, 70, 70);
  font-family: 'Amatic SC';
  font-size: 40px;
  width: 100vw;
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.home{
  font-family:'Courier New', Courier, monospace;
  background-color: gray;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  height: 400px;
  border: 2px dotted black;
}

.hike{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Amatic SC';
  font-size: 24px;
}

.hike-grid{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  font-family: 'Amatic SC';
  font-size: 32px;
  margin: 25px;
}

#hike-info-button{
  padding: 10px;
  font-family: 'Amatic SC';
  font-size: 18px;
  margin: 25px;
}

.instance, .update-form{
  border: 2px solid black;
  width: 500px;
  height: 400px;
}

.update-form{
  display:flex;
  flex-direction: column;
  align-items: center;
}