.App{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar{
  background-color:black;
  color:white;
}


.home{
  font-family:'Courier New', Courier, monospace;
  background-color: gray;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  height: 400px;
}

.hike{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}