.App{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break:break-all;
  background-color: rgb(195, 190, 190);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar{
  background-color:rgb(79, 79, 79);
  font-family: 'Raleway';
  font-size: 40px;
  width: 100vw;
  color:rgb(196, 195, 195);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 70px;
  line-height: 50px;
}

.navbar-links{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: black;
  padding-left: 20px;
}

.about-link{
  color:black;
}

.navbar-links:link{
  color:black;
}

.navbar-links:hover{
 color:rgb(99, 138, 99);
}

.about{
  font-family:'Raleway';
  background-color: rgb(86, 84, 84);
  border: 2px sold black;
  height: 800px;
  width: 900px;
  padding: 30px;
  margin: 50px;
  font-size: 24px;
  color:rgb(196, 195, 195);
  text-align: center;
}

.about-header{
  font-size: 48px;
  color:rgb(196, 195, 195);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  height: 400px;
}

.hike{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Raleway';
  font-size: 24px;
}

.hike-grid{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  font-family: 'Raleway';
  color: rgb(79, 79, 79);
  font-size: 32px;
  margin: 50px;
}

h2{
  margin:0px;
}

#hike-info-button{
  padding:5px;
  font-family: 'Raleway';
  color: rgb(79, 79, 79);
  font-weight: bold;
  font-size: 18px;
  margin: 0px auto 50px;
}

#hike-info-button:hover{
color: white;
background-color: gray;
}

.instance{
  border: 2px solid black;
  width: 400px;
  height: 350px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}


.update-form{
  border: 2px solid black;
  width: 400px;
  height: 350px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 5px;
}

.hike-card-image, .hike-image{
  border: 2px solid rgb(79, 79, 79);
  height: 300px;
  width: 350px;
}

.hike-card-title{
  line-height: 20px;
}


.instance-buttons{
  display: flex;
  flex-direction: row;
}

.form-text{
  font-family: 'Raleway';
  font-size: 18px;
}

.update-text{
  font-family: 'Raleway';
  font-size: 14px;
}

.all-instances{
  display: flex;
  flex-wrap: wrap;
}